<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Materno Infantil Irapuato</title>
    <link rel="stylesheet" href="estilos de contacto.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<body style="font-family: 'Roboto', sans-serif;">
  
  
  <hr>
        <hr>
        <div style="float:left;"><img src="https://boletines.guanajuato.gob.mx/wp-content/uploads/2020/02/logoSG-01-1.png" alt="Imagen???" style="height: 100px;width: 250px;"></div>
        <div class="enlacesfavoritos"><h3><b><center>HOSPITAL MATERNO INFANTIL IRAPUATO</center></b></h3> <h6><center>OFICINA DE RECURSOS HUMANOS <br>FORMATO UNICO DE SOLICITUD DE PERMISO </center></h6></div> 
        <hr>
    </header>

    <form action="">
       
     <div>
        <h4 >Irapuato, Gto. A: <input type="number" name="Dia" placeholder="Dia" min="1" max="31">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; De: <input type="number" name="Mes" placeholder="Mes" min="1" max="12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Del: <input type="number" name="Año" placeholder="Año" min="1900"></h4>
        

        <h4>RFC: <input type="text" name="RFC" placeholder="Ponga su RFC">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No. De Control de Asistencia: <input type="number" name="Asistencia" placeholder="Numero de Control de Asistencia"
        
><br>
        <h4>Nombre: <input type="text" name="Nombre" placeholder="Coloque su Nombre">
        

        <h4>Horario: <input type="text" name="Horario" placeholder="Ponga su Horario">
        

        <h4>Departamento/Area: <input type="text" name="DepAr" placeholder="Departamento o Area al que pertenece">
        

        <h4>Fecha del Permiso: <input type="date" name="Permiso" placeholder="Fecha en que pidio el permiso">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Observaciones: <textarea name="mensaje" cols="20" rows="5" style="border-radius:25px"  placeholder="Escribe aqui tus observaciones "></textarea>
        
     </div>
     <div>
        <h4>Permiso de Salida: <input type="checkbox" name="PSalida"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" name="radio" id="ofi"
                <label for="ofi">Oficial</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <input type="radio" name="radio" id="pe"
                <label for="pe">Personal</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
                <input type="radio" name="radio" id="esp"
                <label for="esp">Especial</label></h4>          
                
      </div>
      <div>
        <h4>Salida: <input type="text" name="Salida" placeholder="Hora de Salida">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Regreso: <input type="number" name="Regreso" placeholder="Hora de Regreso"> <br><br> Tiempo Transcurrido: <input type="number" name="Tiempo" placeholder="Tiempo Transcurrido"></h4>
        
      </div>
      <div>
          <h4>Permiso Economico: <input type="checkbox" name="Economico">
            Si <input type="text" name="si" placeholder="si">
        </h4>
      </div>
      <div>
        <h4>Dias Solicitados en el Año:  <input type="number" name="diasaño" placeholder="Dias Solicitados (Año)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Pendientes: <textarea name="Pendientes" cols="20" rows="2" style="border-radius:25px" placeholder="Agrega los Pendientes que Tienes"></textarea>    </h4>
      </div>
      <div>
        <h4>Onomastico: <input type="checkbox" name="Ono">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             Pago de Tiempo Extra: <input type="checkbox" name="tiempoex"
        </h4>

      </div>
      <img src="https://img.icons8.com/ios/50/000000/print--v1.png" alt="Imprimir formato" onclick="imprimir()" >
    </form>
  </div> <br><br>
  <div>

    <hr size="4" color="black" width="300px" align="center"><br>
    <h5><b><center>FIRMA</center></b></h5>
  </div>

  <script>
    function imprimir(){
      window.print();
    }
  </script>

</body>
</html>